<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 centre-text">
            <h2>3rd place final</h2>
            <h4>
                The next two kittens are the losers of their last contests.<br/>
                They will now battle it out for 3rd place.
            </h4>
            <br />
            <a href="tournament/30" role="button" class="btn btn-success btn-lg ">Continue...</a>
        </div>
    </div>

   <div style="height:200px;">
       &nbsp;
   </div>
</div>