<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 center-block">
        <br/>        
            <img src="img/cover-kitten-sml.png" class="center-block" style="margin-left:25%;"/>        
        <h4 class="centre-text">
            Vote for your favourite kittens in a knock-out tournament, until only the cutest prevails!<br/>
            Your votes will be added to the overall leaderboard.
        </h4>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <br/>
        <div class="row">
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-3 center-block">
                <a href="leaderboard" role="button" class="btn btn-default btn-info margin-top center-block">Leaderboard</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 center-text">
                <a href="details" role="button" class="btn btn-success btn-lg center-block">Start</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 center-block">
                <a role="button" class="btn btn-default btn-info margin-top center-block" href="credits">Credits</a>
            </div>
        </div>        
    </div>    
    <div class="col-md-1"></div>
</div>
<br/>