<div class="celebration">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="podiumCol">
                <div style="height:125px;"></div>
                <div class="clear-behind" style="padding-left:5px;padding-right:5px;padding-top:5px;">
                    <h4>{{RunnerUp.Name}}</h4>
                    <img class="img-thumb center-block" ng-src="{{RunnerUp.imgUrl}}" />
                </div>
                <div class="podium second">
                    <h4>2nd</h4>
                </div>
            </div>
            <div class="podiumCol">
                <div style="height:75px;"></div>
                <div class="clear-behind" style="padding-left:5px;padding-right:5px;padding-top:5px;">
                    <h4>{{Winner.Name}}</h4>
                    <img class="img-thumb center-block" ng-src="{{Winner.imgUrl}}" />
                </div>
                <div class="podium first">
                    <h4>1st</h4>
                </div>
            </div>
            <div class="podiumCol">
                <div style="height:175px;"></div>
                <div class="clear-behind" style="padding-left:5px;padding-right:5px;padding-top:5px;">
                    <h4>{{Third.Name}}</h4>
                    <img class="img-thumb center-block" ng-src="{{Third.imgUrl}}" />
                </div>
                <div class="podium third">
                    <h4>3rd</h4>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a role="button" class="btn btn-default btn-block btn-success margin-top" href="home">Home</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <a role="button" class="btn btn-default btn-block btn-success margin-top" href="credits">Credits</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>   
</div>