<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="centre-text">The second round is complete</h2>
            <h4 class="centre-text">
                Meet the quarter finalists<br />
            </h4>

            <div class="row">
                <div class="col-md-3">
                    <div class="contestant-sml">
                        <h4 class="centre-text">{{Contests[16].Winner.Name}}</h4>
                        <img class="img-thumb" ng-src="{{Contests[16].Winner.imgUrl}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contestant-sml">
                        <h4 class="centre-text">{{Contests[17].Winner.Name}}</h4>
                        <img class="img-thumb" ng-src="{{Contests[17].Winner.imgUrl}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contestant-sml">
                        <h4 class="centre-text">{{Contests[18].Winner.Name}}</h4>
                        <img class="img-thumb" ng-src="{{Contests[18].Winner.imgUrl}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contestant-sml">
                        <h4 class="centre-text">{{Contests[19].Winner.Name}}</h4>
                        <img class="img-thumb" ng-src="{{Contests[19].Winner.imgUrl}}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="contestant-sml">
                        <h4 class="centre-text">{{Contests[20].Winner.Name}}</h4>
                        <img class="img-thumb" ng-src="{{Contests[20].Winner.imgUrl}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contestant-sml">
                        <h4 class="centre-text">{{Contests[21].Winner.Name}}</h4>
                        <img class="img-thumb" ng-src="{{Contests[21].Winner.imgUrl}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contestant-sml">
                        <h4 class="centre-text">{{Contests[22].Winner.Name}}</h4>
                        <img class="img-thumb" ng-src="{{Contests[22].Winner.imgUrl}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contestant-sml">
                        <h4 class="centre-text">{{Contests[23].Winner.Name}}</h4>
                        <img class="img-thumb" ng-src="{{Contests[23].Winner.imgUrl}}" /> 
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 centre-text">
                    <a href="tournament/24" role="button" class="btn btn-success btn-lg centre-text">Continue...</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <p>
        <br />
    </p>
</div>