<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 centre-text">
            <h2>The first round of duels is complete</h2>

            <h4>
                Now the winners of round 1 will battle it out in round 2. Ready?<br/>                                
            </h4>  
            <br />
            <a href="tournament/16" role="button" class="btn btn-success btn-lg">Continue...</a>          
        </div>
    </div>
    <div style="height:150px">
        &nbsp;
    </div>
</div>