<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 centre-text" >
            <h2 class="centre-text">Semi finals</h2>
            <h4 class="centre-text">                
                It's so exciting, we are down to the final four!
            </h4>   
            <br/>                        
            <a href="tournament/28" role="button" class="btn btn-success btn-lg ">Continue...</a>            
        </div>
    </div>

    <div style="height:200px;">
        &nbsp;
    </div>
</div>